<a href="https://colab.research.google.com/github/candeliat/MachineLearningLesson/blob/main/MachineLearningKa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# IMPORTANT: SOME KAGGLE DATA SOURCES ARE PRIVATE
# RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES.
import kagglehub
kagglehub.login()

In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.

abdullahcandeliat_hittersdataset_path = kagglehub.dataset_download('abdullahcandeliat/hittersdataset')

print('Data source import complete.')

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/hittersdataset/Hitters.csv

**RİDGE REGRESSİON**

In [ ]:
df = pd.read_csv("/kaggle/input/hittersdataset/Hitters.csv")
df = df.iloc[:,1:len(df)]
df.head()

,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N

GEREKLİ KÜTÜPHANELER

In [ ]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import train_test_split
from sklearn import model_selection
import matplotlib.pyplot as plt
from sklearn.linear_model import RidgeCV

In [ ]:
df = df.dropna()

In [ ]:
df

,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
1,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
5,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,127,7,65,48,37,5,2703,806,32,379,311,138,N,E,325,9,3,700.0,N
318,136,5,76,50,94,12,5511,1511,39,897,451,875,A,E,313,381,20,875.0,A
319,126,3,61,43,52,6,1700,433,7,217,93,146,A,W,37,113,7,385.0,A
320,144,9,85,60,78,8,3198,857,97,470,420,332,A,E,1314,131,12,960.0,A
321,170,9,77,44,31,11,4908,1457,30,775,357,249,A,W,408,4,3,1000.0,A

In [ ]:
dms = pd.get_dummies(df[['League','Division','NewLeague']])

In [ ]:
dms

     League_A  League_N  Division_E  Division_W  NewLeague_A  NewLeague_N
1       False      True       False        True        False         True
2        True     False       False        True         True        False
3       False      True        True       False        False         True
4       False      True        True       False        False         True
5        True     False       False        True         True        False
..        ...       ...         ...         ...          ...          ...
317     False      True        True       False        False         True
318      True     False        True       False         True        False
319      True     False       False        True         True        False
320      True     False        True       False         True        False
321      True     False       False        True         True        False

[263 rows x 6 columns]

In [ ]:
y = df["Salary"]

In [ ]:
X_ = df.drop(['Salary','League','Division','NewLeague'], axis=1).astype('float64')

In [ ]:
X = pd.concat([X_, dms[['League_N','Division_W','NewLeague_N']]], axis=1)

In [ ]:
X_train, X_test , y_train , y_test = train_test_split(X,
                                                     y,
                                                     test_size=0.25,
                                                     random_state=42)

In [ ]:
ridge_model = Ridge(alpha= 0.1).fit(X_train, y_train)

In [ ]:
ridge_model

Ridge(alpha=0.1)

In [ ]:
ridge_model.coef_

array([   4.383357  ,    9.04031555,   -3.6198135 ,   -3.53280599,
          4.17479086,   14.44702333,   -0.28832803,    0.33508587,
         -0.81576375,    1.39024268,    0.87271668,   -0.41344937,
          0.24618032,    0.21760704,   -2.18581352,  123.44540083,
       -110.80693207,  -64.58168952])

In [ ]:
ridge_model.intercept_

-92.82003618280271